html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: calc(2vw + 2vh + 2vmin);
    font-weight: bold;
    color: #ffffff;
}

header {
    background-color: #e74c3c;
    flex-basis: 100px;
    flex-shrink: 0;
}

footer {
    background-color: #3498db;
    flex-basis: 100px;
    flex-shrink: 0;
}

.container {
    flex-basis: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.menu {
    background-color: #2ecc71;
    flex-basis: 20%;
}

.content {
    background-color: #9b59b6;
    flex-basis: 80%;
}